body {
  font-family: "comfortaa";
  background: linear-gradient(to top, #fff1eb 0%, #6bccf9 100%);
}

h1 {
  text-align: center;
  font-family: "fredericka the great";
  color: white;
  padding: 20px;
}

button {
  display: inline;
}

div.form-group {
  color: white;
  font-size: 20px;
}

#search-city-button,
#search-current-location-button {
  background: #ff9776;
  border: solid 1px #ff9776;
  transition: all 200ms ease-in-out;
}

#search-city-button:hover,
#search-current-location-button:hover {
  background: #ffedff;
  color: #ff9776;
}

div.buttons {
  width: 500px;
}

div.col-12,
div.col-6 {
  padding: 20px;
}

#current-details {
  border: solid 10px white;
  width: 1200px;
  margin: auto;
}

#current-city {
  font-family: "fredericka the great";
  font-weight: 700;
  font-size: 40px;
}

#current-date,
#current-time,
#updated {
  font-size: 25px;
}

#current-weather-conditions {
  font-size: 20px;
}

#weather-icon {
  width: 100px;
}

#forecasts {
  font-size: 20px;
  text-align: center;
  padding: 30px;
}

a {
  color: #ff487e;
  text-decoration: none;
  font-size: 13px;
}

a:hover {
  text-decoration: underline;
  color: #ad2e65;
}
.active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.active:hover {
  color: black;
  text-decoration: none;
  cursor: default;
}

p {
  text-align: center;
}

#github-repository {
  text-decoration: none;
  color: #ff487e;
}

#github-repository:hover {
  text-decoration: underline;
  color: #ad2e65;
}
